.sobre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.sobre h3 {
   text-align: center;
   font-weight: 700;
   font-size: 1.5em;
}


.sobre img {
    display: block;
    width: 20vw;
    animation: giro-horario 10s linear infinite;
    margin: 0 auto 2em;


}


@keyframes giro-horario {
    0% {
      transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}