.portifolio{
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
}

.portifolio-titulo{
    font-size: 1.5em;
    font-weight: 700;
    margin: 2em 3em 0 3em;
}

.portifolio-descricao{
    font-size: 1em;
    margin: 1em 4.5em 3em;
}