.carrossel-img{
    width: 100%;
    cursor: pointer;
}

.carrossel-tech{
    text-align: right;
    margin-right: 1em;
    font-size: 1.5em;
}

.carrossel-tech p{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}

.carrossel-icons{
    margin: 0 0 0 0.2em;
}