.techs {
    text-align: center;
    font-size: 24px;
    width: 30vw;
    box-shadow: 3px 5px 10px rgba(240, 95, 74, 0.25);
    border-radius: 10px;
    margin: 2em 0;

}

.techs h2 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em 0;
}

.techs-tecnologias{
    font-size: 0.9em;
    color: #777777;
    margin-bottom: 1em;
}

.techs-aprendendo{
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 1em;
}

.techs-icons {
    font-size: 3.5em;
    display: flex ;
    justify-content: space-evenly;
    padding-bottom: 0.50em;
}

.techs-icons svg {
    transition: transform 0.3s ease-in-out;

}
  
.techs-icons svg:hover {
transform: scale(1.2);
}