.sobre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 3em;
    
}

.sobre h3 {
   text-align: center;
   font-weight: 700;
   font-size: 2em;
   margin: 1em auto;
}

.sobre-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sobre img {
    width: 15vw;
}

.sobre-logo{
    margin: 0 auto;
}

.sobre-paragrafo {
    font-size: 1.2em;
    width: 40vw;
    margin: 0.5em auto;
    text-align: justify;
    line-height: 1.6;

}

.botao-inventory{
    background: linear-gradient(121.86deg, #f05f4a 23.04%, #7b54a7 97.21%);
    border-radius: 0.7em;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    padding: 1em;
    width: 10em;
    margin: 1em 0;
    cursor: pointer;
}